
      <div class="text-center mb-4"  *ngIf= "!encargado">
        <img class="img-fluid" src="assets/img/candado.png" alt="Candado" />
        <p class="lead m0">No posee permisos</p>
        <p>no posee los permisos necesarios para ingresar a esta secci&oacute;n.</p>
    </div>
<div class="content-heading" *ngIf= "encargado">
    <div>Gráficos
        <small>Estadísticas</small>
    </div>
</div>

<div class="row" *ngIf= "encargado">
    
        <div class="col-xl-12 col-lg-12 col-xs-12">
            <h3 style="text-align:center">Cantidad de Usuarios del sistema</h3>
            <div>
               <canvas baseChart [chartType]="'pie'" [options]="pieOptions" [datasets]="[{
                data: [total, totalRemiseros, totalEncargados]}]" [colors]="pieColors" [labels]="pieData.labels" [legend]="false" height="80"></canvas>
            </div>
         </div>
     
        <div class="col-xl-6 col-lg-6 col-xs-6">
        <h4 style="margin-top: 50px">Resultados más destacados de la encuesta: </h4>
        <div>
                <p style="text-align: center">¿Estás conforme con el costo del servicio?</p>
                <canvas baseChart [chartType]="'bar'" [options]="barOptions" [datasets]="[{
                    
                data: [totalPreg4Si, totalPreg4No]}]" [colors]="barColors" [labels]="barData.labels" [legend]="false" height="80"></canvas>
        </div> 
    </div> 

    <div class="col-xl-6 col-lg-6 col-xs-6">
            <h4 style="margin-top: 50px"> </h4> 
            <div>
                    
            <p style="text-align: center">¿Volverías a elegirnos?</p>
               <canvas baseChart [chartType]="'doughnut'" [options]="doughnutOptions" [datasets]="[{
                
            data: [totalPreg1Si, totalPreg1No,totalPreg1Talvez]}]"  [colors]="doughnutColors" [labels]="doughnutData.labels" [legend]="false" height="80"></canvas>
            </div>
         </div>
         <div class="col-xl-12 col-lg-12 col-xs-12">
                <h4> </h4> 
                <div>
                        
                <p style="text-align: center">¿Con qué frecuencia utiliza nuestro servicio?</p>
                   <canvas baseChart [chartType]="'pie'" [options]="pieOptions2"  [datasets]="[{
                    
                data: [preg7uno, preg7dos,preg7tres]}]"  [colors]="pieColors2" [labels]="pieData2.labels2" [legend]="false" height="80"></canvas>
                </div>
             </div>
</div>
     