<div class="home-container">
    
    <div class="row">
            <div class="col-xl-6 col-lg-6">
                <!-- START card-->
                <div class="card bg-danger border-0">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-3">
                                <em class="fa fa-automobile  fa-5x"></em>
                            </div>
                            <div class="col-9 text-right">
                                <p class="m-0">Pide tu viaje!</p>
                            </div>
                        </div>
                    </div>
                    <a class="card-footer bg-gray-dark bt0 clearfix btn-block d-flex" routerLink="/viajes">
                                <span>Viajes</span>
                                <span class="ml-auto">
                                   <em class="fa fa-chevron-circle-right"></em>
                                </span>
                             </a>
                    <!-- END card-->
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <!-- START card-->
                <div class="card bg-warning border-0">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-3">
                                <em class="fa fa-bar-chart fa-5x"></em>
                            </div>
                            <div class="col-9 text-right">
                                <p class="m-0">Mira las estadísticas!</p>
                            </div>
                        </div>
                    </div>
                    <a class="card-footer bg-gray-dark bt0 clearfix btn-block d-flex" routerLink="/graficos">
                                <span>Gráficos</span>
                                <span class="ml-auto">
                                   <em class="fa fa-chevron-circle-right"></em>
                                </span>
                             </a>
                </div>
                <!-- END card-->
            </div>
            <div class="col-xl-6 col-lg-6">
                <!-- START card-->
                <div class="card bg-warning border-0">
                    <!-- <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-3">
                                <em class="fa fa-shopping-cart fa-5x"></em>
                            </div>
                            <div class="col-9 text-right">
                                <div class="text-lg">124</div>
                                <p class="m-0">New Orders!</p>
                            </div>
                        </div>
                    </div>
                    <a class="card-footer bg-gray-dark bt0 clearfix btn-block d-flex" href="#">
                                <span>View Details</span>
                                <span class="ml-auto">
                                   <em class="fa fa-chevron-circle-right"></em>
                                </span>
                             </a>
                </div> -->
                <!-- END card-->
            </div>
    </div>
