<div class="home-container">
    
    <div class="row">
            <div class="col-xl-6 col-lg-6">
                <!-- START card-->
                <div class="card bg-danger border-0">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-3">
                                <em class="fa fa-map-marker fa-5x"></em>
                            </div>
                            <div class="col-9 text-right">
                                <p class="m-0">Pide tu viaje!</p>
                            </div>
                        </div>
                    </div>
                    <a class="card-footer bg-gray-dark bt0 clearfix btn-block d-flex" routerLink="/viaje">
                                <span>Solicitar viaje</span>
                                <span class="ml-auto">
                                   <em class="fa fa-chevron-circle-right"></em>
                                </span>
                             </a>
                    <!-- END card-->
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <!-- START card-->
                <div class="card bg-warning border-0">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-3">
                                <em class="fa fa-bar-chart fa-5x"></em>
                            </div>
                            <div class="col-9 text-right">
                                <p class="m-0">Mira las estadísticas!</p>
                            </div>
                        </div>
                    </div>
                    <a class="card-footer bg-gray-dark bt0 clearfix btn-block d-flex" routerLink="/graficos">
                                <span>Gráficos</span>
                                <span class="ml-auto">
                                   <em class="fa fa-chevron-circle-right"></em>
                                </span>
                             </a>
                </div>
                <!-- END card-->
            </div>
            <div class="col-xl-6 col-lg-6">
                <!-- START card-->
                <div class="card bg-info border-0">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-3">
                                <em class="fa fa-plane fa-5x"></em>
                            </div>
                            <div class="col-9 text-right">
                                <div class="text-lg"></div>
                                <p class="m-0">Administra tus viajes!</p>
                            </div>
                        </div>
                    </div>
                    <a class="card-footer bg-gray-dark bt0 clearfix btn-block d-flex" routerLink="/misViajes">
                                <span>Mis viajes</span>
                                <span class="ml-auto">
                                   <em class="fa fa-chevron-circle-right"></em>
                                </span>
                             </a>
                </div>
                <!-- END card-->
            </div>
            <div class="col-xl-6 col-lg-6">
                <!-- START card-->
                <div class="card bg-gray border-0">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-3">
                                <em class="fa fa-user fa-5x"></em>
                            </div>
                            <div class="col-9 text-right">
                                <div class="text-lg"></div>
                                <p class="m-0">Administra tus usuarios!</p>
                            </div>
                        </div>
                    </div>
                    <a class="card-footer bg-gray-dark bt0 clearfix btn-block d-flex" routerLink="/usuarios">
                                <span>Alta,Baja,Modificación</span>
                                <span class="ml-auto">
                                   <em class="fa fa-chevron-circle-right"></em>
                                </span>
                             </a>
                </div>
                <!-- END card-->
            </div>
    </div>
