<div class="content-heading">
        <div>Mis viajes
            <small>Administra tus viajes</small>
        </div>
        
    </div>
 
    <div class="row">
            <ngx-spinner
            bdColor="rgba(179,239,229,0.8)"
            size="medium"
            color="#171515"
            loadingText="Cargando..."
            type="ball-pulse-sync">
          </ngx-spinner>
<div class="col-lg-10" *ngIf="cliente  && !listo|| remisero  && !listo || encargado  && !listo || administrador  && !listo">
            
               <button class="mb-1 btn btn-danger btn-sm"(click)="captureScreen()" tooltip="PDF" type="button">
                   <span><i class="fa fa-file-pdf-o"></i>
               </span></button>
               <button class="mb-1 btn btn-success btn-sm"(click)="download()" tooltip="Excel" type="button">
                    <span><i class="fa fa-file-excel-o"></i>
                </span></button>
          
            <!-- <button class="mb-1 btn btn-sm"*ngIf="cliente" style="text-align: right" (click)="classicModal.show()" >Cargar encuesta: <i class="fa fa-file-text"></i> <div class="px-2 mr-2 float-right badge badge-success">!</div></button> -->
           
            
      <div class="card card-default">
         <div class="card-header"></div>
         <div class="card-body">
                
            <div class="table-responsive">
                    <p><input type="text" *ngIf="cliente  && !listo" [(ngModel)]="test" placeholder="Filtrar por estado..."></p>
                    
               <table id="contentToConvert" class="table" *ngIf="cliente  && !listo">
                    
                  <thead>
                     <tr>
                        <th>Usuario</th>
                        <th>Prestaciones</th>
                        <th>Día y Hora</th>
                        <th>Pago</th>
                        <th>Estado</th>
                        <th>Costo</th>
                        <th>Acciones</th>
                        <th>Encuesta</th>
                      
                     </tr>
                  </thead>
                  <tbody >
                       
                     <tr  *ngFor="let viaje of unarray| fullTextSearch:test:'estado'| paginate: { itemsPerPage: 5, currentPage: p }" class="table-secondary">
                        <td>{{viaje.usuario}}</td>
                        <td>{{viaje.prestaciones}}</td>
                        <td>{{viaje.dia}}</td>
                        <td>{{viaje.pago}}</td>
                        <td><strong><h4>{{viaje.estado}}</h4></strong></td>
                        <td><strong><h4>{{viaje.costo}}</h4></strong></td>
                        <td><button class="mb-1 btn btn-info btn-sm" type="button"  *ngIf="viaje.estado != 'Cancelado' " (click)="modificar(viaje)" tooltip="Editar"><span class="fa fa-pencil"></span></button>
                          
                            <button class="mb-1 btn btn-danger btn-sm"  (click)="sweetalertDemo6(viaje)" *ngIf="viaje.estado != 'Cancelado' " type="button" tooltip="Cancelar viaje"><span class="fa fa-times"></span></button>
                            <!-- <button class="mb-1 btn btn-sm"  (click)="classicModal.show()" *ngIf="viaje.estado != 'Realizado' " type="button" tooltip="Cargar encuesta"><span class="fa fa-file-text"></span><span class="px-2 mr-2 float-right badge badge-success">!</span></button> -->
                                                     
                        </td>
                        <td>
                            <div  *ngIf="viaje.estado != 'Realizado' ">No habilitado</div>   
                             <div class="align-self-start mr-2"  *ngIf="viaje.estado == 'Realizado' " >
                            <span class="fa-stack">
                               <em class="fa fa-circle fa-stack-2x text-warning"></em>
                               <em class="fa fa-exclamation fa-stack-1x fa-inverse text-white"></em>
                            </span>
                         </div>
                        <div class="media-body text-truncate"  *ngIf="viaje.estado == 'Realizado' " >
                            <p class="mb-1"><a class="text-warning m-0"  (click)="classicModal.show()">Cargar</a>
                            </p>
                         </div>  
                         </td>
                  </tr>
                  
                  </tbody>
                  
               </table>
               
               <p><input type="text" *ngIf="remisero  && !listo" [(ngModel)]="test" placeholder="Filtrar por usuario..."></p>
               
               <table id="contentToConvert" class="table" *ngIf="remisero  && !listo">
                    
                <thead>
                   <tr>
                      <th>Usuario</th>
                      <th>Prestaciones</th>
                      <th>Día y Hora</th>
                      <th>Pago</th>
                      <th>Estado</th>
                      <th>Costo</th>
                      <th>Acciones</th>
                    
                   </tr>
                </thead>
                <tbody >
                     
                   <tr  *ngFor="let viaje of unarray | fullTextSearch:test:'usuario'| paginate: { itemsPerPage: 5, currentPage: p }" class="table-secondary">
                      <td>{{viaje.usuario}}</td>
                      <td>{{viaje.prestaciones}}</td>
                      <td>{{viaje.dia}}</td>
                      <td>{{viaje.pago}}</td>
                      <td><strong><h4>{{viaje.estado}}</h4></strong></td>
                      <td><strong><h4>{{viaje.costo}}</h4></strong></td>
                      <td>
                          <button class="mb-1 btn btn-danger btn-sm" type="button" (click)="AgregarPago(viaje)" tooltip="Cargar pago"><span class="fa fa-money"></span></button>
                        <button class="mb-1 btn btn-info btn-sm" *ngIf="viaje.estado == 'Aprobado' "  type="button" (click)="sweetalertDemo5(viaje)" tooltip="Cambiar estado"><span class="fa fa-flag"></span></button>                                                    
                    </td>
                </tr>
                
                </tbody>
                
             </table>
             
             <p><input type="text"  *ngIf="encargado  && !listo || administrador  && !listo" [(ngModel)]="test" placeholder="Filtrar por usuario..."></p>
             
             <table id="contentToConvert" class="table" *ngIf="encargado  && !listo || administrador && !listo">
                    
                <thead>
                   <tr>
                      <th>Usuario</th>
                      <th>Prestaciones</th>
                      <th>Día y Hora</th>
                      <th>Pago</th>
                      <th>Estado</th>
                      <th>Costo</th>
                      <th>Remisero</th>
                      <th>Acciones</th>
                    
                   </tr>
                </thead>
                <tbody >
                        
                   <tr  *ngFor="let viaje of unarray | fullTextSearch:test:'usuario'| paginate: { itemsPerPage: 5, currentPage: p }" class="table-secondary">
                      <td>{{viaje.usuario}}</td>
                      <td>{{viaje.prestaciones}}</td>
                      <td>{{viaje.dia}}</td>
                      <td>{{viaje.pago}}</td>
                      <td><strong><h4>{{viaje.estado}}</h4></strong></td>
                      <td><strong><h4>{{viaje.costo}}</h4></strong></td>
                      <td><strong><h4>{{viaje.remisero}}</h4></strong></td>
                     <td> <button class="mb-1 btn btn-warning btn-sm" type="button" (click)="modificarRemisero(viaje)"tooltip="Cargar remisero"><span class="fa fa-plus"></span></button>
                        <button class="mb-1 btn btn-info btn-sm"  *ngIf="viaje.estado == 'Solicitado'"  type="button" (click)="sweetalertDemo5(viaje)"tooltip="Cambiar estado"><span class="fa fa-flag"></span></button>                            
                        <button class="mb-1 btn btn-danger btn-sm"  *ngIf="rol == 'Administrador'"  (click)="sweetalertDemo4(viaje)" type="button"tooltip="Eliminar"><span class="fa fa-trash-o"></span></button></td>
                        
                </tr>
                
                </tbody>
                
             </table>
             <pagination-controls (pageChange)="p = $event"></pagination-controls>
             

           
           
            </div>  
            
         </div>
      
      </div>
   </div>
  
   <div class="col-lg-2" *ngIf="seAbrioRemisero" >
        <div class="card card-default">
                
        <form  class="form-horizontal" >   
                
            <label class="text-muted mb-1 col-lg-12">Remisero</label>
            <div class="col-lg-12" >
                <select  [(ngModel)]="rem" placeholder="--Seleccione una opción--"   [ngModelOptions]="{standalone: true}" class="form-control" required >
                    <option  *ngFor="let remis of remises" >{{remis.usuario}}</option>
                </select>
                <button class="mb-1 btn btn-info btn-sm"  type="button" (click)="modificarRemis(rem)">Agregar</button>
                <button class="mb-1 btn btn-info btn-sm"  type="button" (click)="cancelarRemisero()">Cancelar</button>
                
            </div>
            </form>
    </div>
</div>

<div class="col-lg-2" *ngIf="seAbrioCosto" >
    <div class="card card-default">
            
    <form  class="form-horizontal" >   
            
        <label class="text-muted mb-1 col-lg-12">Costo</label>
        <div class="col-lg-12" >
            <input class="form-control border-right-0" type="text" name="account_email" autocomplete="off"  [(ngModel)]="plata" required="" />                                            
            
            <button class="mb-1 btn btn-info btn-sm"  type="button" (click)="modificarCosto(plata)">Agregar</button>
            <button class="mb-1 btn btn-info btn-sm"  type="button" (click)="cancelarCosto()">Cancelar</button>
            
        </div>
        </form>
</div>
</div>


</div>

   <div class="modal fade" bsModal #classicModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Cargar Encuesta</h4>
                    <button type="button" class="close" aria-label="Close" (click)="classicModal.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                                
                    <div class="form-group" >
                        <label class="text-muted mb-1 col-lg-12">¿Volverías a elegirnos?</label>
                        <div class="col-lg-12">
                            <select [(ngModel)]="roles1" placeholder="--Seleccione una opción--"   [ngModelOptions]="{standalone: true}" class="form-control" required >
                                <option value="1">SÍ</option>
                                <option value="2">NO</option>
                                <option value="3">TAL VEZ</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" >
                        
                            <label class="text-muted mb-1 col-lg-12">¿Cómo conoció la remisería?
                                </label>
                            <div class="col-lg-12">
                                    <input class="form-control border-right-0" type="text" name="account_email" autocomplete="off"  [(ngModel)]="remiseriastring" required="" />                                            
                            </div>
                        </div>
                        <div class="form-group" >
                                <label class="text-muted mb-1 col-lg-12">¿Con qué frecuencia utiliza nuestro servicio?</label>
                                <div class="col-lg-12">
                                        
                                <div class="c-radio">
                                <label>
                                <input type="radio" id="myCheckkk" [(ngModel)]="radio1"  [ngModelOptions]="{standalone: true}"  value="1" (change)="change(radio1)"  />
                                <span class="fa fa-check"></span>Una o más veces a la semana</label>
                                </div>
                                <div class="c-radio">
                                <label>
                                <input type="radio" id="myCheck2"  value="2" [(ngModel)]="radio2"       [ngModelOptions]="{standalone: true}" (change)="change(radio2)"/>
                                <span class="fa fa-check"></span>Dos o tres veces al mes</label>
                                </div>
                                <div class="c-radio">
                                <label>
                                    <input type="radio" id="myCheck3"  value="3" [(ngModel)]="radio3" [ngModelOptions]="{standalone: true}" (change)="change(radio3)"/>
                                    <span class="fa fa-check"></span>Una vez al mes</label>
                                </div>
                            </div>
                            
                     </div>
                     <div class="form-group row">
                            <label class="text-muted mb-1 col-lg-12">¿A quién recomendarías nuestros servicios?</label>
                            <div class="col-lg-12">
                                    
                            <div class="checkbox c-checkbox">
                                    <label>
                                    <input type="checkbox" id="myCheckkk" [(ngModel)]="check1"  [ngModelOptions]="{standalone: true}"  value="1"  />
                                    <span class="fa fa-check"></span>Familia</label>
                                    </div>
                                    <div class="checkbox c-checkbox">
                                    <label>
                                    <input type="checkbox" id="myCheck2"  value="2" [(ngModel)]="check2"       [ngModelOptions]="{standalone: true}" />
                                    <span class="fa fa-check"></span>Amigos</label>
                                    </div>
                                    <div class="checkbox c-checkbox">
                                    <label>
                                        <input type="checkbox" id="myCheck3"  value="3" [(ngModel)]="check3" [ngModelOptions]="{standalone: true}"/>
                                        <span class="fa fa-check"></span>Compañeros</label>
                                    </div>
                                    <div class="checkbox c-checkbox">
                                        <label>
                                            <input type="checkbox" id="myCheck4"  value="4" [(ngModel)]="check4" [ngModelOptions]="{standalone: true}" />
                                            <span class="fa fa-check"></span>A nadie</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" >
                                <label class="text-muted mb-1 col-lg-12">¿Cómo te sentís en los viajes?</label>
                                <div class="col-lg-12">
                                    <select [(ngModel)]="roles2" placeholder="--Seleccione una opción--"  [ngModelOptions]="{standalone: true}" class="form-control" required >
                                        <option value="1">BIEN</option>
                                        <option value="2">MAL</option>
                                        <option value="3">MASO MENOS</option>
                                    </select>
                                </div>
                            </div>    
                            <div class="form-group" >
                                <label class="text-muted mb-1 col-lg-12">¿Cómo son las actitudes de nuestros empleados?</label>
                                <div class="col-lg-12">
                                    <select [(ngModel)]="roles3" placeholder="--Seleccione una opción--"  [ngModelOptions]="{standalone: true}" class="form-control" required >
                                        <option value="1">BUENA</option>
                                        <option value="2">MALA</option>
                                        <option value="3">ALGUNOS BUENA</option>
                                        <option value="4">ALGUNOS MALA</option>
                                    </select>
                                </div>
                            </div>   
                            <div class="form-group" >
                                <label class="text-muted mb-1 col-lg-12">¿Estás conforme con el costo del servicio?</label>
                                <div class="col-lg-12">
                                    <select [(ngModel)]="roles4" placeholder="--Seleccione una opción--"  [ngModelOptions]="{standalone: true}" class="form-control" required >
                                        <option value="1">SI</option>
                                        <option value="2">NO</option>
                                    </select>
                                </div>
                            </div>   
                            <label class="uploader" ondragover="return false;" [class.loaded]="loaded" [style.outlineColor]="dragging ? activeColor :
                            baseColor" (dragenter)="handleDragEnter()" (dragleave)="handleDragLeave()" (drop)="handleDrop($event)">
                            <i class="icon icon-upload" [style.color]="dragging 
                               ? ((imageSrc.length > 0) ? overlayColor : activeColor)
                               : ((imageSrc.length > 0) ? overlayColor : baseColor)"></i>
                            <img [src]="imageSrc3" width="100" height="100" (load)="handleImageLoad()" [class.loaded]="imageLoaded" />
                            <input  type="file" id="file3"  accept="image/*" (change)="handleInputChange($event)">
                            </label>
                            <label class="uploader" ondragover="return false;" [class.loaded]="loaded" [style.outlineColor]="dragging ? activeColor :
                            baseColor" (dragenter)="handleDragEnter()" (dragleave)="handleDragLeave()" (drop)="handleDrop($event)">
                            <i class="icon icon-upload" [style.color]="dragging 
                               ? ((imageSrc.length > 0) ? overlayColor : activeColor)
                               : ((imageSrc.length > 0) ? overlayColor : baseColor)"></i>
                            <img [src]="imageSrc2" width="100" height="100" (load)="handleImageLoad()" [class.loaded]="imageLoaded" />
                            <input  type="file" id="file2"  accept="image/*" (change)="handleInputChange($event)">
                            </label>
                            <label class="uploader" ondragover="return false;" [class.loaded]="loaded" [style.outlineColor]="dragging ? activeColor :
                            baseColor" (dragenter)="handleDragEnter()" (dragleave)="handleDragLeave()" (drop)="handleDrop($event)">
                            <i class="icon icon-upload" [style.color]="dragging 
                               ? ((imageSrc.length > 0) ? overlayColor : activeColor)
                               : ((imageSrc.length > 0) ? overlayColor : baseColor)"></i>
                            <img width="100" height="100" [src]="imageSrc" (load)="handleImageLoad()" [class.loaded]="imageLoaded" />
                            <input  type="file" id="file1"  accept="image/*" (change)="handleInputChange($event)">
                            </label>
                           
                    </div>
                    <button class="mb-1 btn btn-info btn-sm"  type="button" (click)="cargarEncuesta(radio1,radio2,radio3, check1, check2, check3,check4);classicModal.hide()">Enviar</button>
                    
            </div>
            
        </div>
    </div>
   