<div class="content-heading">
        <div>Mis viajes
            <small>Administra tus viajes</small>
        </div>
    </div>
<div class="col-lg-12">
        <button style="text-align: right" (click)="download()" >
                Exportar: <img  src="../assets/img/user/LogoExcel.jpg">
            </button>
      <div class="card card-default">
         <div class="card-header"></div>
         <div class="card-body">
              
            <div class="table-responsive">
                   
               <table class="table" *ngIf="cliente">
                  <thead>
                     <tr>
                        <th>Usuario</th>
                        <th>Prestaciones</th>
                        <th>Día y Hora</th>
                        <th>Pago</th>
                        <th>Estado</th>
                        <th>Costo</th>
                        <th>Acciones</th>
                      
                     </tr>
                  </thead>
                  <tbody >
                       
                     <tr  *ngFor="let viaje of unarray" class="table-secondary">
                        <td>{{viaje.usuario}}</td>
                        <td>{{viaje.prestaciones}}</td>
                        <td>{{viaje.dia}}</td>
                        <td>{{viaje.pago}}</td>
                        <td><strong><h4>{{viaje.estado}}</h4></strong></td>
                        <td><strong><h4>{{viaje.costo}}</h4></strong></td>
                        <td><button class="mb-1 btn btn-info btn-sm" type="button">Editar</button>
                     <button class="mb-1 btn btn-info btn-sm"  (click)="sweetalertDemo4(viaje)" type="button">Eliminar</button></td>
                  </tr>
                  
                  </tbody>
               </table>
              
               <table class="table" *ngIf="remisero">
                <thead>
                   <tr>
                      <th>Usuario</th>
                      <th>Prestaciones</th>
                      <th>Día y Hora</th>
                      <th>Pago</th>
                      <th>Estado</th>
                      <th>Costo</th>
                      <th>Acciones</th>
                    
                   </tr>
                </thead>
                <tbody >
                     
                   <tr  *ngFor="let viaje of unarray" class="table-secondary">
                      <td>{{viaje.usuario}}</td>
                      <td>{{viaje.prestaciones}}</td>
                      <td>{{viaje.dia}}</td>
                      <td>{{viaje.pago}}</td>
                      <td><strong><h4>{{viaje.estado}}</h4></strong></td>
                      <td><strong><h4>{{viaje.costo}}</h4></strong></td>
                      <td><button class="mb-1 btn btn-info btn-sm" type="button">Cargar pago</button>
                        <button class="mb-1 btn btn-info btn-sm" *ngIf="viaje.estado == 'Aprobado' "  type="button" (click)="sweetalertDemo5(viaje)">Cambiar Estado</button>                                                    
                    </td>
                </tr>
                
                </tbody>
             </table>
             <table class="table" *ngIf="encargado || administrador">
                <thead>
                   <tr>
                      <th>Usuario</th>
                      <th>Prestaciones</th>
                      <th>Día y Hora</th>
                      <th>Pago</th>
                      <th>Estado</th>
                      <th>Costo</th>
                      <th>Remisero</th>
                      <th>Acciones</th>
                    
                   </tr>
                </thead>
                <tbody >
                     
                   <tr  *ngFor="let viaje of unarray" class="table-secondary">
                      <td>{{viaje.usuario}}</td>
                      <td>{{viaje.prestaciones}}</td>
                      <td>{{viaje.dia}}</td>
                      <td>{{viaje.pago}}</td>
                      <td><strong><h4>{{viaje.estado}}</h4></strong></td>
                      <td><strong><h4>{{viaje.costo}}</h4></strong></td>
                      <td><strong><h4>{{viaje.remisero}}</h4></strong></td>
                      <td><button class="mb-1 btn btn-info btn-sm" type="button" (click)="classicModal.show()">Cargar Remisero</button>
                        <button class="mb-1 btn btn-info btn-sm"  *ngIf="viaje.estado == 'Solicitado'"  type="button" (click)="sweetalertDemo5(viaje)">Cambiar Estado</button>                            
                        <button class="mb-1 btn btn-info btn-sm"  (click)="sweetalertDemo4(viaje)" type="button">Eliminar</button></td>
                        
                </tr>
                
                </tbody>
             </table>

             <div class="modal fade" bsModal #classicModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Cargar Remisero</h4>
                            <button type="button" class="close" aria-label="Close" (click)="classicModal.hide()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                        </div>
                    </div>
                </div>
            </div>
           
            </div>  
            
         </div>
      
      </div>
   </div>