
      <div class="text-center mb-4"  *ngIf= "!cliente">
                <img class="img-fluid" src="assets/img/candado.png" alt="Candado" />
                <p class="lead m0">No posee permisos</p>
        <p>no posee los permisos necesarios para ingresar a esta secci&oacute;n.</p>
    </div>
    
   
<div class="content-heading"  *ngIf= "cliente">
    <div>Viajes
        <small>Solicita tus viajes</small>
    </div>
</div>

<div class="row"  *ngIf= "cliente">
      
         <div class="col-lg-12">
                
         <div class="form-group">
                
        <form  class="form-horizontal" #formViajes="ngForm" ngNativeValidate>
                                            <div class="card card-default">
                                                <div class="card-body">
                                                    <fieldset class="b0">{{cargarViaje}} Viaje
                                                    </fieldset>
                                                    <fieldset>
                                                            <div class="form-group row">
                                                                <label class="col-lg-2 col-form-label text-lg-right">Día y Hora</label>
                                                                <div class="col-lg-6">
                                                                    <input [(ngModel)]="fechaViaje" class="form-control" type="datetime" min="startDate" [ngModelOptions]="{standalone: true}"  required />
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    <fieldset>
                                                             <div class="form-group row">
                                                                    <label class="col-lg-2 col-form-label text-lg-right">Prestaciones:</label>                                                                    
                                                                    
                                                                    <div class="checkbox c-checkbox">
                                                                            <label>
                                                                            <input type="checkbox" id="myCheckkk" [(ngModel)]="CAbool"  [ngModelOptions]="{standalone: true}"  value="1"  />
                                                                            <span class="fa fa-check"></span>Con aire acondicionado</label>
                                                                            </div>
                                                                            <div class="checkbox c-checkbox">
                                                                            <label>
                                                                            <input type="checkbox" id="myCheck2"  value="2" [(ngModel)]="tresPbool"       [ngModelOptions]="{standalone: true}" />
                                                                            <span class="fa fa-check"></span>3 puertas</label>
                                                                            </div>
                                                                            <div class="checkbox c-checkbox">
                                                                            <label>
                                                                                <input type="checkbox" id="myCheck3"  value="3" [(ngModel)]="cincoPbool" [ngModelOptions]="{standalone: true}"/>
                                                                                <span class="fa fa-check"></span>5 puertas</label>
                                                                            </div>
                                                                            <div class="checkbox c-checkbox">
                                                                                <label>
                                                                                    <input type="checkbox" id="myCheck4"  value="4" [(ngModel)]="AUbool" [ngModelOptions]="{standalone: true}" />
                                                                                    <span class="fa fa-check"></span>Auto</label>
                                                                            </div>
                                                                            <div class="checkbox c-checkbox">
                                                                                    <label>
                                                                                        <input type="checkbox" id="myCheck5"  value="5" [(ngModel)]="CAMbool"[ngModelOptions]="{standalone: true}"/>
                                                                                        <span class="fa fa-check"></span>Camioneta</label>
                                                                                </div>
                                                                                <div class="checkbox c-checkbox">
                                                                                        <label>
                                                                                            <input type="checkbox" id="myCheck6"  value="6" [(ngModel)]="SACbool"[ngModelOptions]="{standalone: true}" />
                                                                                            <span class="fa fa-check"></span>Sin aire acondicionado</label>
                                                                                    </div>
                                                            </div>
                                                        <!-- <div class="form-group row">
                                                            <label class="col-lg-2 col-form-label text-lg-right">Prestaciones:</label>
                                                            <div class="col-lg-10">
                                                                <input [(ngModel)]="prestaciones" class="form-control" type="text"  [ngModelOptions]="{standalone: true}" placeholder="Prestaciones" required/>
                                                            </div>  -->
                                                        <!-- </div> -->
                                                    </fieldset>
                                                    <fieldset>
                                                            <div class="form-group row">
                                                                <label class="col-lg-2 col-form-label text-lg-right">Origen:</label>
                                                                <div class="col-lg-10">
                                                                        <input  placeholder="Origen" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #pickupInput [formControl]="destinationInput" required>
                                                                    </div>
                                                            </div>
                                                        </fieldset>
                                                    <fieldset>

                                                            <fieldset>
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-2 col-form-label text-lg-right">Destino:</label>
                                                                        <div class="col-lg-10">
                                                                                <input placeholder="Destino" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #pickupOutput [formControl]="destinationOutput" required>
                                                                            </div>
                                                                    </div>
                                                                </fieldset>
                                                        <div class="form-group row">
                                                            <label class="col-lg-2 col-form-label text-lg-right">Medio de pago</label>
                                                            <div class="col-lg-10">
                                                                <select [(ngModel)]="metodoPago" placeholder="--Seleccione una opción--" [ngModelOptions]="{standalone: true}" class="form-control" required >
                                                                    <option value="1">Efectivo</option>
                                                                    <option value="2">Débito</option>
                                                                    <option value="3">Crédito</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <small class="text-muted"></small>
                                                            </div>
                                                        </div>
                                                    </fieldset>

                                                    <fieldset>
                                                        <div class="form-group row">
                                                            <label class="col-lg-2 col-form-label text-lg-right">Kilómetros:</label>
                                                            <div class="col-lg-4">
                                                                <input [(ngModel)]="estimatedKm" class="form-control" type="text" disabled [ngModelOptions]="{standalone: true}" placeholder="Kilómetros" required/>
                                                            </div>
                                                            <label class="col-lg-2 col-form-label text-lg-right">Costo:</label>
                                                            <div class="col-lg-4">
                                                                <input [(ngModel)]="estimatedCosto" class="form-control" type="text" disabled  [ngModelOptions]="{standalone: true}" placeholder="Costo" required/>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                <agm-map [latitude]="latitude" [longitude]="longitude" >
                                                    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
                                                    <agm-map-directions [origin]="origin" [destination]="destination"></agm-map-directions>
                                                </agm-map>
                            
                                                </div>
                                                
                                               
                                                <div class="card-footer text-center">
                                                        <label for="captchaView">Captcha:</label>
                                                        <input id="captchaView" [(ngModel)]="captchaView" name="captchaView" disabled>
                                                        <input id="captchaRespuesta" [(ngModel)]="captchaRespuesta" name="captchaRespuesta" required>
                                                        <button type="button" class="btn btn-default btn-auth" (click)="cargarCaptcha()" ><span class="fa fa-refresh"></span>
                                                            </button>
                                                        
                                                        <div class="alert alert-warning" role="alert" *ngIf="captchaError" (click)="cargarCaptcha()">
                                                                El captcha es incorrecto o no lo ingresó.
                                                            </div>
                                                        </div>
                                                            <div class="card-footer text-center">
                                                                    
                                                    <button class="btn btn-info" (click)="pedirViaje(CAbool,tresPbool, cincoPbool,SACbool, CAMbool,AUbool)">Aceptar</button>
                                                </div>
                                            
                                            </div>
                  </form>
        </div>
        </div>
        
</div>
